.values-list td {
  padding: 10px;
  vertical-align: top;
}

.errors-list__item {
  padding: 10px;
}

.errors-list__item span {
  margin-right: 2%;
}

.errors-list__item button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.errors-list__item i {
  line-height: 30px;
}